/* NORMALISE AND OTHERS */

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.42;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;
	width: 0.0625rem;
	height: 0.0625rem;
	margin: -0.0625rem;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	bottom: 0;
	padding: 0;
}

ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p, a, button {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	color: inherit;
	font: inherit
}

button {
	background-color: inherit;
	border: none;
}

button:focus {
	background-color: inherit;
	outline: none;
}
